<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ventana de Administrador</title>
    <link rel="stylesheet" href="../css/tailwind.min.css" />
  </head>
  <body class="min-h-100 bg-gray-200">
    <div class="md:flex min-h-screen md:align-top min-h-screen items-center justify-center">
      
      <!--sidebar-->
      <main class="md:w-3/5 xl:w-4/5 px-5 py-10 bg-gray-200">
        <h2 id="main" class="text-3xl font-light text-center py-2">Editar Empleado</h2>

        <div class="bg-white p-4 transform scale-95 transition-all duration-300 w-1/2 mx-auto">
          <form id="formulario" class="bg-white p-3" method="POST">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">Nombre</label>
                <input 
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Nombre del Empleado"
                />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Numero de licencia</label>
                <input 
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="licenseNumber"
                    name="licenseNumber"
                    type="number"
                    placeholder="Numero de licensia"
                />
            </div>
  
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="telefono">Edad</label>
                <input 
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="age"
                    name="age"
                    type="number"
                    placeholder="Edad del Empleado"
                />
            </div>
  
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="role">Rol</label>
              <select 
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="role"
                name="role"
              >
                <option value="" disabled selected>Selecciona un Rol</option>
                <!-- Agrega más opciones según necesites -->
              </select>
            </div>
  
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="specialty">Especialidad</label>
              <select 
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="specialty"
                name="specialty"
              >
                <option value="" disabled selected>Selecciona una Especialidad</option>
  
                <!-- Agrega más opciones según necesites -->
              </select>
            </div>
  
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Correo</label>
              <select 
                class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email"
                name="email"
              >
                <option value="" disabled selected>Selecciona un Correo</option>
  
                <!-- Agrega más opciones según necesites -->
              </select>
            </div>
  
  
            <input
                type="submit"
                class="bg-blue-600 hover:bg-blue-800 w-full mt-5 p-2 text-white uppercase font-bold"
                value="Registrar Empleado"
            />
        </form>
        </div>
        
        
        
      </main>
    </div>
    <script src="../apps/employeeEdit.js" type="module"></script>
  </body>
</html>